$background-gradient: linear-gradient(270deg, #00B4DB 0%, rgba(0, 131, 176, 0.97) 100%);

// texts
$color-text-primary: #FFFF;
$color-text-secondary: #ECECEC;
$color-label: #767676;
$color-icon: #767676;
$color-text-action-primary: #39738B;
$color-text-danger: #A40101;
$color-text-success: #229C35;
$color-text-warning: #A79600;
// boxes
$box-background-primary: #F6F6F6;
// input
$input-background: #F8F8F8;
// border
$border-color-1: #00B4DB;
$border-color-2: #0083B0;
$border-color-3: #830286;
$border-color-error: #880303;




